$mdc-theme-primary: #f3bf10;
$mdc-theme-surface: #1a1a1a;
$mdc-theme-on-surface: #dddddd;
$mdc-theme-background: #050505;

@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/theme/mdc-theme";

// Add icon to the background, centered at top of screen.
body {
  background-image: url("LRWaveIcon32.png");
  background-position: center top;
  background-repeat: no-repeat;
}

// Workaround to make a MDC Web element expand to fill the width of its containing
// MDC Web layout grid cell. There should be a way to do this via MDC...
.w100 {
  width: 100%;
}
